python-dotenv>=1.0.1
langchain>=0.1.9
langchain-community>=0.0.24
langchain-core>=0.1.22
langchain-groq>=0.0.1
langchain-huggingface>=0.0.9
groq>=0.4.2
faiss-cpu>=1.8.0
sentence-transformers>=2.5.1
torch==2.6.0
transformers==4.49.0
numpy==1.26.4